.card-colour-active,
.card-colour-not-active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100vw !important;
    text-align: center;
}

.card-container {
    padding: 100px 50px !important;
}